<!-- -------------Auteur : MAHAMADOU ALIO , mahamadoualio05@gmail.com-------------- -->
<mat-card-content>
	<form class="example-form">
		<table class="example-full-width" cellspacing="0">
			<tr>
				<td>

					<div classe="example-card" fxLayout="row">

						<a href="172.26.194.96:8082/uSDM/index.jsp" target="_blank" mat-button class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
									<!-- <mat-icon>more_vert</mat-icon> -->
									<div class="image-taille">
										<img src="assets/PB.jpg" class="image-taille">
									</div>
									<!-- <div class="title-position">
									<mat-card-title>CRBT</mat-card-title>
									<mat-card-subtitle>Service VAS</mat-card-subtitle>
								</div> -->


									<div class="panel-footer">
										<mat-card-title>SnD Portal </mat-card-title>
										<mat-card-subtitle>Identification</mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>




						<a href="https://asierp.airtel.africa:8443/OA_HTML/" target="_blank" mat-button
							class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
									<!-- <mat-icon>more_vert</mat-icon> -->
									<div class="image-taille">
										<img src="assets/PB.jpg" class="image-taille">
									</div>
									<!-- <div class="title-position">
							<mat-card-title>CRBT</mat-card-title>
							<mat-card-subtitle>Service VAS</mat-card-subtitle>
						</div> -->


									<div class="panel-footer">
										<mat-card-title>ASI_ERP </mat-card-title>
										<mat-card-subtitle></mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>




						<!-- </div> -->


						<!-- <div class="header red p-10 pb-0 example-card1" fxLayout="column" fxLayoutAlign="space-between">
								<a href="http://172.26.232.67:8081/airtelniger-crm/login" target="_blank" mat-button
									class="example-card" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="start center">
									<img src="assets/DMS2.jpg">

									<span></span>
								</a>
							</div> -->





						<a href="https://172.26.194.42:7777/pretups/" target="_blank" mat-button class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
									<!-- <mat-icon>more_vert</mat-icon> -->
									<div class="image-taille">
										<img src="assets/PT.jpg" class="image-taille">
									</div>
									<!-- <div class="title-position">
								<mat-card-title>CRBT</mat-card-title>
								<mat-card-subtitle>Service VAS</mat-card-subtitle>
							</div> -->


									<div class="panel-footer">
										<mat-card-title>Pretups</mat-card-title>
										<mat-card-subtitle></mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>


						<a href="http://172.23.7.216:9080/DMS_Web/" target="_blank" mat-button class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>

									<div class="image-taille">
										<img src="assets/DMS2.jpg" class="image-taille">
									</div>


									<div class="panel-footer">
										<mat-card-title>DMS</mat-card-title>
										<mat-card-subtitle></mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>



						<!-- <div class="header red p-10 pb-0 example-card1" fxLayout="column" fxLayoutAlign="space-between">
								<a href="http://172.26.232.67:8081/airtelniger-crm/login" target="_blank" mat-button
									class="example-card" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="start center">
									<img src="assets/DMS2.jpg">
									<mat-card-title>Annonces</mat-card-title>
									<span></span>
								</a>
							</div>
					
 -->


						<!-- 
						<div class="header red p-10 pb-0 example-card1" fxLayout="column" fxLayoutAlign="space-between"> -->



					</div>

				</td>
			</tr>
			<tr>
				<!-- <td><mat-form-field class="example-full-width"> -->
				<!-- <mat-divider> </mat-divider> -->
				<!-- <div class="content p-24"> -->
				<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">


					<a href="http://172.23.7.217:9080/navigator/?desktop=QMT" target="_blank" mat-button
						class="example-card">

						<mat-card class="example-card1">
							<mat-card-header>

								<div class="image-taille">
									<img src="assets/PB.jpg" class="image-taille">
								</div>


								<div class="panel-footer">
									<mat-card-title>QMT</mat-card-title>
									<mat-card-subtitle></mat-card-subtitle>
								</div>
							</mat-card-header>
						</mat-card>

						<span></span>
					</a>

					<a href="http://172.26.194.96:8082/uSDM/index.jsp" target="_blank" mat-button class="example-card">

						<mat-card class="example-card1">
							<mat-card-header>

								<div class="image-taille">
									<img src="assets/SV.jpg" class="image-taille">
								</div>
								<div class="panel-footer">
									<mat-card-title>SnD Portal</mat-card-title>
									<mat-card-subtitle>G. des produits </mat-card-subtitle>
								</div>
							</mat-card-header>
						</mat-card>

						<span></span>
					</a>

				</div>

			</tr>


		</table>
	</form>

</mat-card-content>

