<!-- -------------Auteur : MAHAMADOU ALIO , mahamadoualio05@gmail.com-------------- -->

<mat-card-content>
	<form class="example-form">
		<table class="example-full-width" cellspacing="0">


			<!---------------------------------Departement CX APPS--------------------------------------------------------->

			<tr>
				<td>

					<div classe="example-card" fxLayout="row">

						<a href="http://172.26.193.108:8100/peweb/index.jsp" target="_blank" mat-button
							class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>

									<div class="image-taille">
										<img src="assets/SV.jpg" class="image-taille">
									</div>


									<div class="panel-footer">
										<mat-card-title>Single View</mat-card-title>
										<mat-card-subtitle></mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>



						<a href="http://172.26.212.16:8082/kyc-ne/#!/login" target="_blank" mat-button
							class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>

									<div class="image-taille">
										<img src="assets/PB.jpg" class="image-taille">
									</div>



									<div class="panel-footer">
										<mat-card-title>Agile Lab KYC </mat-card-title>
										<mat-card-subtitle></mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>
						<a href="https://172.26.192.31:9445/africaairtel/SimReplacement/" target="_blank" mat-button
							class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
									<div class="image-taille">
										<img src="assets/SS.jpg" class="image-taille">
									</div>
									<div class="panel-footer">
										<mat-card-title>Sim Swap</mat-card-title>
										<mat-card-subtitle></mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>
						<a href="http://172.26.255.84:8021/custcare_cmax/login" target="_blank" mat-button
							class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>

									<div class="image-taille">
										<img src="assets/MS.jpg" class="image-taille">
									</div>


									<div class="panel-footer">
										<mat-card-title>ECMS</mat-card-title>
										<mat-card-subtitle> </mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>


					</div>

				</td>
			</tr>
			<tr>

				<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">


					<a href="https://172.26.192.55:5555/pretups/" target="_blank" mat-button class="example-card">

						<mat-card class="example-card1">
							<mat-card-header>

								<div class="image-taille">
									<img src="assets/PT.jpg" class="image-taille">
								</div>

								<div class="panel-footer">
									<mat-card-title>Pretups </mat-card-title>
									<mat-card-subtitle>Pretups</mat-card-subtitle>
								</div>
							</mat-card-header>
						</mat-card>

						<span></span>
					</a>





					<a href="https://172.26.193.248:8680/APPGUI/login.jsp" target="_blank" mat-button
						class="example-card">

						<mat-card class="example-card1">
							<mat-card-header>

								<div class="image-taille">
									<img src="assets/PB.jpg" class="image-taille">
								</div>


								<div class="panel-footer">
									<mat-card-title>CUG</mat-card-title>
									<mat-card-subtitle></mat-card-subtitle>
								</div>
							</mat-card-header>
						</mat-card>

						<span></span>
					</a>





					<a href="http://172.26.194.33:8181/KYCNR/WBLogin.aspx" target="_blank" mat-button
						class="example-card">

						<mat-card class="example-card1">
							<mat-card-header>
								<!-- <mat-icon>more_vert</mat-icon> -->
								<div class="image-taille">
									<img src="assets/KYC.jpg" class="image-taille">
								</div>

								<div class="panel-footer">
									<mat-card-title>GKYC </mat-card-title>
									<mat-card-subtitle>Identification</mat-card-subtitle>
								</div>
							</mat-card-header>
						</mat-card>

						<span></span>
					</a>

					<a href="https://172.26.192.55:5555/pretups/" target="_blank" mat-button class="example-card">

						<mat-card class="example-card1">
							<mat-card-header>
								<!-- <mat-icon>more_vert</mat-icon> -->
								<div class="image-taille">
									<img src="assets/CN.jpg" class="image-taille">
								</div>

								<div class="panel-footer">
									<mat-card-title>Infotnement</mat-card-title>
									<mat-card-subtitle>Customer care</mat-card-subtitle>
								</div>
							</mat-card-header>
						</mat-card>

						<span></span>
					</a>



				</div>

			</tr>


			<!---------------------------------Departement AM APPS--------------------------------------------------------->

			<tr>
				<td>

					<div classe="example-card" fxLayout="row">

						<a href="https://172.26.227.3:7777/AirtelMoney" target="_blank" mat-button class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
									<!-- <mat-icon>more_vert</mat-icon> -->
									<div class="image-taille">
										<img src="assets/PB.jpg" class="image-taille">
									</div>
									<!-- <div class="title-position">
									<mat-card-title>CRBT</mat-card-title>
									<mat-card-subtitle>Service VAS</mat-card-subtitle>
								</div> -->


									<div class="panel-footer">
										<mat-card-title>Mobiquity Web GUI </mat-card-title>
										<mat-card-subtitle></mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>



						<!-- <div class="header red p-10 pb-0 example-card1" fxLayout="column" fxLayoutAlign="space-between">
								<a href="http://172.26.232.67:8081/airtelniger-crm/login" target="_blank" mat-button
									class="example-card" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="start center">
									<img src="assets/DMS2.jpg">
									<mat-card-title>Annonces</mat-card-title>
									<span></span>
								</a>
							</div>
					
 -->


						<!-- 
						<div class="header red p-10 pb-0 example-card1" fxLayout="column" fxLayoutAlign="space-between"> -->
						<a href="https://197.214.2.92:7777/AirtelMoney" target="_blank" mat-button class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
									<!-- <mat-icon>more_vert</mat-icon> -->
									<div class="image-taille">
										<img src="assets/PB.jpg" class="image-taille">
									</div>
									<!-- <div class="title-position">
									<mat-card-title>CRBT</mat-card-title>
									<mat-card-subtitle>Service VAS</mat-card-subtitle>
								</div> -->


									<div class="panel-footer">
										<mat-card-title>M.GUI for Partner</mat-card-title>
										<mat-card-subtitle></mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>

					</div>

				</td>
			</tr>
			<tr>

			</tr>


			<!---------------------------------Departement MDM APPS--------------------------------------------------------->

			<tr>
				<td>

					<div classe="example-card" fxLayout="row">




						<!-- ______________________________________________BI Cognos__________________________________________ -->

						<a href="http://172.26.192.130:8448/ibmcognos/cgi-bin/" target="_blank" mat-button
							class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
									<!-- <mat-icon>more_vert</mat-icon> -->
									<div class="image-taille">
										<img src="assets/airtel1.jpg" class="image-taille">
									</div>
									<!-- <div class="title-position">
									<mat-card-title>CRBT</mat-card-title>
									<mat-card-subtitle>Service VAS</mat-card-subtitle>
								</div> -->


									<div class="panel-footer">
										<mat-card-title>BI Cognos</mat-card-title>
										<mat-card-subtitle>Business Analyst </mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>


						<!-- ______________________________________________SOS CREDIT APPS__________________________________________ -->


						<a href="http://172.26.242.22:8080" target="_blank" mat-button class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
									<!-- <mat-icon>more_vert</mat-icon> -->
									<div class="image-taille">
										<img src="assets/SC.jpg" class="image-taille">
									</div>
									<!-- <div class="title-position">
						<mat-card-title>CRBT</mat-card-title>
						<mat-card-subtitle>Service VAS</mat-card-subtitle>
					</div> -->


									<div class="panel-footer">
										<mat-card-title>SOS Credit</mat-card-title>
										<mat-card-subtitle>serv</mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>


						<!-- ______________________________________________CONSERVATION DE NUMERO__________________________________________ -->


						<a href="https://172.26.242.114:10010/conservation" target="_blank" mat-button
							class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
									<!-- <mat-icon>more_vert</mat-icon> -->
									<div class="image-taille">
										<img src="assets/CN.jpg" class="image-taille">
									</div>


									<div class="panel-footer">
										<mat-card-title>Consersation</mat-card-title>
										<mat-card-subtitle>Service VAS</mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>
						<!-- ______________________________________________CRBT__________________________________________ -->

						<a href="http://172.16.6.15:6393/ccc" target="_blank" mat-button class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
									<!-- <mat-icon>more_vert</mat-icon> -->
									<div class="image-taille">
										<img src="assets/MV.jpg" class="image-taille">
									</div>
									<div class="panel-footer">
										<mat-card-title>CRBT </mat-card-title>
										<mat-card-subtitle>Service VAS</mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>



					</div>

				</td>
			</tr>
			<tr>

				<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">


					<a href="http://172.26.232.67:8081/airtelniger-crm/login" target="_blank" mat-button
						class="example-card">

						<mat-card class="example-card1">
							<mat-card-header>

								<div class="image-taille">
									<img src="assets/Training.jpg" class="image-taille">
								</div>

								<div class="panel-footer">
									<mat-card-title>Airtel SID</mat-card-title>
									<mat-card-subtitle>Service VAS</mat-card-subtitle>
								</div>
							</mat-card-header>
						</mat-card>

						<span></span>
					</a>

					<a href="http://172.26.232.65:8081/NigerCCI/login.jsp" target="_blank" mat-button
						class="example-card">

						<mat-card class="example-card1">
							<mat-card-header>
								<!-- <mat-icon>more_vert</mat-icon> -->
								<div class="image-taille">
									<img src="assets/SV.jpg" class="image-taille">
								</div>
								<div class="panel-footer">
									<mat-card-title>Friendzchat </mat-card-title>
									<mat-card-subtitle>Service VAS</mat-card-subtitle>
								</div>
							</mat-card-header>
						</mat-card>

						<span></span>
					</a>

					<a href="http://172.26.242.22:8080" target="_blank" mat-button class="example-card">

						<mat-card class="example-card1">
							<mat-card-header>
								<!-- <mat-icon>more_vert</mat-icon> -->
								<div class="image-taille">
									<img src="assets/SC.jpg" class="image-taille">
								</div>

								<div class="panel-footer">
									<mat-card-title>SOS Credit</mat-card-title>
									<mat-card-subtitle>service vas</mat-card-subtitle>
								</div>
							</mat-card-header>
						</mat-card>

						<span></span>
					</a>

					<a href="https://172.24.96.37:8443/SADM/login/login.jsf" target="_blank" mat-button
						class="example-card">

						<mat-card class="example-card1">
							<mat-card-header>

								<div class="image-taille">
									<img src="assets/SV.jpg" class="image-taille">
								</div>

								<div class="panel-footer">
									<mat-card-title>SADM</mat-card-title>
									<mat-card-subtitle>service vas </mat-card-subtitle>
								</div>
							</mat-card-header>
						</mat-card>

						<span></span>
					</a>

				</div>

			</tr>


			<tr>

				<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">





					<a href="http://172.26.242.122:70/cci/login.php" target="_blank" mat-button class="example-card">

						<mat-card class="example-card1">
							<mat-card-header>

								<div class="image-taille">
									<img src="assets/MV.jpg" class="image-taille">
								</div>

								<div class="panel-footer">
									<mat-card-title>Magic Voice </mat-card-title>
									<mat-card-subtitle>Service VAS</mat-card-subtitle>
								</div>
							</mat-card-header>
						</mat-card>

						<span></span>
					</a>
					<a href="http://172.26.232.67:8081/airtelniger-crm/login" target="_blank" mat-button
						class="example-card">

						<mat-card class="example-card1">
							<mat-card-header>

								<div class="image-taille">
									<img src="assets/FU.jpg" class="image-taille">
								</div>


							</mat-card-header>
						</mat-card>

						<span></span>
					</a>


				</div>

			</tr>
			<!---------------------------------Departement FINANCE  APPS--------------------------------------------------------->


			<tr>
				<td>

					<div classe="example-card" fxLayout="row">

						<a href="172.26.194.96:8082/uSDM/index.jsp" target="_blank" mat-button class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
									<!-- <mat-icon>more_vert</mat-icon> -->
									<div class="image-taille">
										<img src="assets/PB.jpg" class="image-taille">
									</div>
									<!-- <div class="title-position">
									<mat-card-title>CRBT</mat-card-title>
									<mat-card-subtitle>Service VAS</mat-card-subtitle>
								</div> -->


									<div class="panel-footer">
										<mat-card-title>SnD Portal </mat-card-title>
										<mat-card-subtitle>Identification</mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>




						<a href="https://asierp.airtel.africa:8443/OA_HTML/" target="_blank" mat-button
							class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
									<!-- <mat-icon>more_vert</mat-icon> -->
									<div class="image-taille">
										<img src="assets/PB.jpg" class="image-taille">
									</div>
									<!-- <div class="title-position">
							<mat-card-title>CRBT</mat-card-title>
							<mat-card-subtitle>Service VAS</mat-card-subtitle>
						</div> -->


									<div class="panel-footer">
										<mat-card-title>ASI_ERP </mat-card-title>
										<mat-card-subtitle></mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>


						<a href="https://172.26.194.42:7777/pretups/" target="_blank" mat-button class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>

									<div class="image-taille">
										<img src="assets/PT.jpg" class="image-taille">
									</div>

									<div class="panel-footer">
										<mat-card-title>Pretups</mat-card-title>
										<mat-card-subtitle></mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>


						<a href="http://172.23.7.216:9080/DMS_Web/" target="_blank" mat-button class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>

									<div class="image-taille">
										<img src="assets/DMS2.jpg" class="image-taille">
									</div>


									<div class="panel-footer">
										<mat-card-title>DMS</mat-card-title>
										<mat-card-subtitle></mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>

					</div>

				</td>
			</tr>
			<tr>

				<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">


					<a href="http://172.23.7.217:9080/navigator/?desktop=QMT" target="_blank" mat-button
						class="example-card">

						<mat-card class="example-card1">
							<mat-card-header>

								<div class="image-taille">
									<img src="assets/PB.jpg" class="image-taille">
								</div>


								<div class="panel-footer">
									<mat-card-title>QMT</mat-card-title>
									<mat-card-subtitle></mat-card-subtitle>
								</div>
							</mat-card-header>
						</mat-card>

						<span></span>
					</a>

					<a href="http://172.26.194.96:8082/uSDM/index.jsp" target="_blank" mat-button class="example-card">

						<mat-card class="example-card1">
							<mat-card-header>

								<div class="image-taille">
									<img src="assets/SV.jpg" class="image-taille">
								</div>
								<div class="panel-footer">
									<mat-card-title>SnD Portal</mat-card-title>
									<mat-card-subtitle>G. des produits </mat-card-subtitle>
								</div>
							</mat-card-header>
						</mat-card>

						<span></span>
					</a>

				</div>

			</tr>
			<!---------------------------------Departement SALES  APPS--------------------------------------------------------->

			<!-- <tr>
				<td>

					<div classe="example-card" fxLayout="row">

						<a href="http://172.26.193.108:8100/peweb/index.jsp" target="_blank" mat-button
							class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
								<div class="image-taille">
										<img src="assets/SV.jpg" class="image-taille">
									</div>
								
									<div class="panel-footer">
										<mat-card-title>Single View</mat-card-title>
										<mat-card-subtitle></mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>
						<a href="https://172.26.192.31:9445/africaairtel/SimReplacement/" target="_blank" mat-button
							class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
								
									<div class="image-taille">
										<img src="assets/SS.jpg" class="image-taille">
									</div>
								

									<div class="panel-footer">
										<mat-card-title>Sim Swap</mat-card-title>
										<mat-card-subtitle></mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>
						<a href="http://172.26.194.33:8181/KYCNR/WBLogin.aspx" target="_blank" mat-button
							class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
						
									<div class="image-taille">
										<img src="assets/KYC.jpg" class="image-taille">
									</div>
							
								<div class="panel-footer">
										<mat-card-title>GKYC </mat-card-title>
										<mat-card-subtitle>Identification</mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>

						<a href="https://172.26.192.55:5555/pretups/" target="_blank" mat-button class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
								
									<div class="image-taille">
										<img src="assets/CN.jpg" class="image-taille">
									</div>
							


									<div class="panel-footer">
										<mat-card-title>Infotnement</mat-card-title>
										<mat-card-subtitle>Customer care</mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>


					</div>

				</td>
			</tr> -->

			<!---------------------------------Departement LEGAL APPS--------------------------------------------------------->


			<tr>
				<td>

					<div classe="example-card" fxLayout="row">


						<a href="http://172.26.227.87:9090/CALL_LOGS/CALL_LOGS.html" target="_blank" mat-button
							class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
									<!-- <mat-icon>more_vert</mat-icon> -->
									<div class="image-taille">
										<img src="assets/PB.jpg" class="image-taille">
									</div>

									<div class="panel-footer">
										<mat-card-title>Police Portal</mat-card-title>
										<mat-card-subtitle></mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>

					</div>

				</td>
			</tr>
			<tr>

			</tr>
			<!---------------------------------Departement HR APPS---------------------------------------------------------->
			<tr>
				<td>

					<div classe="example-card" fxLayout="row">


						<a href="https://172.26.193.248:8680/REFILL_HR/login.jsp" target="_blank" mat-button
							class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
									<!-- <mat-icon>more_vert</mat-icon> -->
									<div class="image-taille">
										<img src="assets/PB.jpg" class="image-taille">
									</div>

									<div class="panel-footer">
										<mat-card-title>REFIL_HR</mat-card-title>
										<mat-card-subtitle></mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>

					</div>

				</td>
			</tr>
			<tr>

			</tr>
		</table>
	</form>

</mat-card-content>