
// <!-- -------------Auteur : MAHAMADOU ALIO , mahamadoualio05@gmail.com-------------- -->


<mat-card-content>
	<form class="example-form">
		<table class="example-full-width" cellspacing="0">
			<tr>
				<td>

					<div classe="example-card" fxLayout="row">

						<a href="https://172.26.227.3:7777/AirtelMoney" target="_blank" mat-button class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
									<!-- <mat-icon>more_vert</mat-icon> -->
									<div class="image-taille">
										<img src="assets/PB.jpg" class="image-taille">
									</div>
							
									<div class="panel-footer">
										<mat-card-title>Mobiquity Web GUI </mat-card-title>
										<mat-card-subtitle></mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>



						<!-- <div class="header red p-10 pb-0 example-card1" fxLayout="column" fxLayoutAlign="space-between">
								<a href="http://172.26.232.67:8081/airtelniger-crm/login" target="_blank" mat-button
									class="example-card" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="start center">
									<img src="assets/DMS2.jpg">
									<mat-card-title>Annonces</mat-card-title>
									<span></span>
								</a>
							</div>
					
 -->


						<!-- 
						<div class="header red p-10 pb-0 example-card1" fxLayout="column" fxLayoutAlign="space-between"> -->
						<a href="https://197.214.2.92:7777/AirtelMoney" target="_blank" mat-button class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
									<!-- <mat-icon>more_vert</mat-icon> -->
									<div class="image-taille">
										<img src="assets/PB.jpg" class="image-taille">
									</div>
									<!-- <div class="title-position">
									<mat-card-title>CRBT</mat-card-title>
									<mat-card-subtitle>Service VAS</mat-card-subtitle>
								</div> -->


									<div class="panel-footer">
										<mat-card-title>M.GUI for Partner</mat-card-title>
										<mat-card-subtitle></mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>

					</div>

				</td>
			</tr>
			<tr>

			</tr>


		</table>
	</form>
</mat-card-content>

<!-- </mat-card> -->