
// <!-- -------------Auteur : MAHAMADOU ALIO , mahamadoualio05@gmail.com-------------- -->

<mat-card-content>
	<form class="example-form">
		<table class="example-full-width" cellspacing="0">
			<tr>
				<td>

					<div classe="example-card" fxLayout="row">




				<!-- ______________________________________________BI Cognos__________________________________________ -->

						<a href="http://172.26.192.130:8448/ibmcognos/cgi-bin/" target="_blank" mat-button
							class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
									<!-- <mat-icon>more_vert</mat-icon> -->
									<div class="image-taille">
										<img src="assets/airtel1.jpg" class="image-taille">
									</div>
						
									<div class="panel-footer">
										<mat-card-title>BI Cognos</mat-card-title>
										<mat-card-subtitle>Business Analyst </mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>


						<!-- ______________________________________________SOS CREDIT__________________________________________ -->


						<a href="http://172.26.242.22:8080" target="_blank" mat-button class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
									<!-- <mat-icon>more_vert</mat-icon> -->
									<div class="image-taille">
										<img src="assets/SC.jpg" class="image-taille">
									</div>
		
									<div class="panel-footer">
										<mat-card-title>SOS Credit</mat-card-title>
										<mat-card-subtitle>serv</mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>


						<!-- ______________________________________________CONSERVATION DE NUMERO__________________________________________ -->


						<a href="https://172.26.242.114:10010/conservation" target="_blank" mat-button
							class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
								
									<div class="image-taille">
										<img src="assets/CN.jpg" class="image-taille">
									</div>


									<div class="panel-footer">
										<mat-card-title>Consersation</mat-card-title>
										<mat-card-subtitle>Service VAS</mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>

						<!-- ______________________________________________CRBT__________________________________________ -->

						<a href="http://172.16.6.15:6393/ccc" target="_blank" mat-button class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
									
									<div class="image-taille">
										<img src="assets/MV.jpg" class="image-taille">
									</div>
									<div class="panel-footer">
										<mat-card-title>CRBT </mat-card-title>
										<mat-card-subtitle>Service VAS</mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>



					</div>

				</td>
			</tr>
			<tr>

				<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">


					<a href="http://172.26.232.67:8081/airtelniger-crm/login" target="_blank" mat-button
						class="example-card">

						<mat-card class="example-card1">
							<mat-card-header>

								<div class="image-taille">
									<img src="assets/Training.jpg" class="image-taille">
								</div>

								<div class="panel-footer">
									<mat-card-title>Airtel SID</mat-card-title>
									<mat-card-subtitle>Service VAS</mat-card-subtitle>
								</div>
							</mat-card-header>
						</mat-card>

						<span></span>
					</a>





					<a href="http://172.26.232.65:8081/NigerCCI/login.jsp" target="_blank" mat-button
						class="example-card">

						<mat-card class="example-card1">
							<mat-card-header>
								<!-- <mat-icon>more_vert</mat-icon> -->
								<div class="image-taille">
									<img src="assets/SV.jpg" class="image-taille">
								</div>
								<div class="panel-footer">
									<mat-card-title>Friendzchat </mat-card-title>
									<mat-card-subtitle>Service VAS</mat-card-subtitle>
								</div>
							</mat-card-header>
						</mat-card>

						<span></span>
					</a>

					<a href="http://172.26.242.22:8080" target="_blank" mat-button class="example-card">

						<mat-card class="example-card1">
							<mat-card-header>
								<!-- <mat-icon>more_vert</mat-icon> -->
								<div class="image-taille">
									<img src="assets/SC.jpg" class="image-taille">
								</div>

								<div class="panel-footer">
									<mat-card-title>SOS Credit</mat-card-title>
									<mat-card-subtitle>service vas</mat-card-subtitle>
								</div>
							</mat-card-header>
						</mat-card>

						<span></span>
					</a>

					<a href="https://172.24.96.37:8443/SADM/login/login.jsf" target="_blank" mat-button
						class="example-card">

						<mat-card class="example-card1">
							<mat-card-header>

								<div class="image-taille">
									<img src="assets/SV.jpg" class="image-taille">
								</div>

								<div class="panel-footer">
									<mat-card-title>SADM</mat-card-title>
									<mat-card-subtitle>service vas </mat-card-subtitle>
								</div>
							</mat-card-header>
						</mat-card>

						<span></span>
					</a>

				</div>

			</tr>


			<tr>

				<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">





					<a href="http://172.26.242.122:70/cci/login.php" target="_blank" mat-button class="example-card">

						<mat-card class="example-card1">
							<mat-card-header>

								<div class="image-taille">
									<img src="assets/MV.jpg" class="image-taille">
								</div>

								<div class="panel-footer">
									<mat-card-title>Magic Voice </mat-card-title>
									<mat-card-subtitle>Service VAS</mat-card-subtitle>
								</div>
							</mat-card-header>
						</mat-card>

						<span></span>
					</a>




				


					<a href="http://172.26.232.67:8081/airtelniger-crm/login" target="_blank" mat-button
						class="example-card">

						<mat-card class="example-card1">
							<mat-card-header>

								<div class="image-taille">
									<img src="assets/FU.jpg" class="image-taille">
								</div>


							</mat-card-header>
						</mat-card>

						<span></span>
					</a>


				</div>

			</tr>

		</table>
	</form>

</mat-card-content>