<!-- ---------------- les liens des application CX------------------------------------- -->
<!-- -------------Auteur : MAHAMADOU ALIO , mahamadoualio05@gmail.com-------------- -->

<mat-card-content>
	<form class="example-form">
		<table class="example-full-width" cellspacing="0">
			<tr>
				<td>

					<div classe="example-card" fxLayout="row">

						<a href="http://172.26.193.108:8100/peweb/index.jsp" target="_blank" mat-button
							class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>

									<div class="image-taille">
										<img src="assets/SV.jpg" class="image-taille">
									</div>


									<div class="panel-footer">
										<mat-card-title>Single View</mat-card-title>
										<mat-card-subtitle></mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>
						<a href="http://172.26.212.16:8082/kyc-ne/#!/login" target="_blank" mat-button
							class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
									<div class="image-taille">
										<img src="assets/PB.jpg" class="image-taille">
									</div>
									<div class="panel-footer">
										<mat-card-title>Agile Lab KYC </mat-card-title>
										<mat-card-subtitle></mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>
						<a href="https://172.26.192.31:9445/africaairtel/SimReplacement/" target="_blank" mat-button
							class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>

									<div class="image-taille">
										<img src="assets/SS.jpg" class="image-taille">
									</div>
									<div class="panel-footer">
										<mat-card-title>Sim Swap</mat-card-title>
										<mat-card-subtitle></mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>
						<a href="http://172.26.255.84:8021/custcare_cmax/login" target="_blank" mat-button
							class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
									<div class="image-taille">
										<img src="assets/MS.jpg" class="image-taille">
									</div>
									<div class="panel-footer">
										<mat-card-title>ECMS</mat-card-title>
										<mat-card-subtitle> </mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>

					</div>

				</td>
			</tr>
			<tr>

				<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">


					<a href="https://172.26.192.55:5555/pretups/" target="_blank" mat-button class="example-card">

						<mat-card class="example-card1">
					 		<mat-card-header>

								<div class="image-taille">
									<img src="assets/PT.jpg" class="image-taille">
								</div>

								<div class="panel-footer">
									<mat-card-title>Pretups </mat-card-title>
									<mat-card-subtitle>Pretups</mat-card-subtitle>
								</div>
							</mat-card-header>
						</mat-card>

						<span></span>
					</a>

          			<a href="https://172.26.193.248:8680/APPGUI/login.jsp" target="_blank" mat-button
						class="example-card">

						<mat-card class="example-card1">
							<mat-card-header>

								<div class="image-taille">
									<img src="assets/PB.jpg" class="image-taille">
								</div>


								<div class="panel-footer">
									<mat-card-title>CUG</mat-card-title>
									<mat-card-subtitle></mat-card-subtitle>
								</div>
							</mat-card-header>
						</mat-card>

						<span></span>
					</a>
					<a href="http://172.26.194.33:8181/KYCNR/WBLogin.aspx" target="_blank" mat-button
						class="example-card">

						<mat-card class="example-card1">
							<mat-card-header>
								<div class="image-taille">
									<img src="assets/KYC.jpg" class="image-taille">
								</div>

								<div class="panel-footer">
									<mat-card-title>GKYC </mat-card-title>
									<mat-card-subtitle>Identification</mat-card-subtitle>
								</div>
							</mat-card-header>
						</mat-card>

						<span></span>
					</a>
					<a href="https://172.26.192.55:5555/pretups/" target="_blank" mat-button class="example-card">

						<mat-card class="example-card1">
							<mat-card-header>
								<div class="image-taille">
									<img src="assets/CN.jpg" class="image-taille">
								</div>

								<div class="panel-footer">
									<mat-card-title>Infotnement</mat-card-title>
									<mat-card-subtitle>Customer care</mat-card-subtitle>
								</div>
							</mat-card-header>
						</mat-card>

						<span></span>
					</a>
				</div>

			</tr>

		</table>
	</form>

</mat-card-content>