<!-- -------------Auteur : MAHAMADOU ALIO , mahamadoualio05@gmail.com-------------- -->
<!-- -------------Les liens des applications de hr-------------- -->
<mat-card-content>
	<form class="example-form">
		<table class="example-full-width" cellspacing="0">
			<tr>
				<td>

					<div classe="example-card" fxLayout="row">


						<a href="https://172.26.193.248:8680/REFILL_HR/login.jsp" target="_blank" mat-button
							class="example-card">

							<mat-card class="example-card1">
								<mat-card-header>
									<div class="image-taille">
										<img src="assets/PB.jpg" class="image-taille">
									</div>
									<div class="panel-footer">
										<mat-card-title>REFIL_HR</mat-card-title>
										<mat-card-subtitle></mat-card-subtitle>
									</div>
								</mat-card-header>
							</mat-card>

							<span></span>
						</a>

					</div>

				</td>
			</tr>
			<tr>

			</tr>


		</table>
	</form>
</mat-card-content>

<!-- </mat-card> -->